body {
  font-family: "Exo", sans-serif;
  background-color: #202023;
  color: #ffffff;
}
input {
  font-family: "Exo", sans-serif;
}
p {
  line-height: 130%;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
  margin-top: 5px;
}
h4 {
  font-size: 18px;
}
button {
  cursor: pointer;
}
.container {
  max-width: 1200px;
  margin: auto;
  margin-top: 30px;
}
